{
    "schemaVersion": "1.0",
    "artifacts": {
        "sourcery": {
            "type": "executable",
            "version": "VERSION",
            "variants": [
                {
                    "path": "sourcery/bin/sourcery",
                    "supportedTriples": ["x86_64-apple-macosx", "arm64-apple-macosx"]
                },
            ]
        }
    }
}
